@import url("https://fonts.googleapis.com/css?family=EB+Garamond:700&display=swap");

.link {
  text-decoration: none;
  color: white;
}

.jackInTheBox {
  color: #f64b57;
  font-size: 50px;
  font-family: "EB Garamond", serif;
}
